{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1 class="px-3"> Планировщик туристических маршрутов </h1>

<div class="row px-4">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Путешествуй.
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>«Есть в этом что-то волшебное: уезжаешь одним человеком, а возвращаешься совершенно
                            другим.»</p>
                        <footer class="blockquote-footer">Кейт Дуглас Уигген<cite title="Заголовок источника"></cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    <div class="col-lg-8">
        <div class="container-fluid">
            <div id="carouselExample" class="carousel carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    {% for item in rafting %}
                    {% if forloop.first %}
                    <div class="carousel-item active" data-bs-interval="3000">
                        {% else %}
                        <div class="carousel-item" data-bs-interval="3000">
                            {% endif %}
                            {% if item.title_image %}
                            <img class="d-block w-100" src='{{ item.title_image.url }}' alt="...">
                            {% endif %}
                            <div class="carousel-caption d-none d-md-block">
                                <h3>{{ item.title }}</h3>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>








