{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-hover">
                <thead>
                <tr class="table align-middle">
                    <th scope="col" class="col-lg-4">Общее снаряжение</th>
                    <th scope="col" class="col-lg-2">Количество</th>

                </tr>
                </thead>
                <tbody>
                {% for item in things %}
                <tr class="table align-baseline">
                    {% if not item.individual %}
                    <td>{{ item.title }}</td>
                    <td>{{ item.amount }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>


                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-hover">
                <thead>
                <tr class="table align-middle">
                    <th scope="col" class="col-lg-4">Индивидуальное снаряжение</th>
                    <th scope="col" class="col-lg-2">Количество</th>

                </tr>
                </thead>
                <tbody>
                {% for item in things %}
                <tr class="table align-baseline">
                    {% if item.individual %}
                    <td>{{ item.title }}</td>
                    <td>{{ item.amount }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>


                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}