{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1> Планировщик туристических маршрутов </h1>
<div class="card">
  <div class="card-header">
    Путешествуй.
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>«Есть в этом что-то волшебное: уезжаешь одним человеком, а возвращаешься совершенно другим.»</p>
      <footer class="blockquote-footer">Кейт Дуглас Уигген<cite title="Заголовок источника"></cite></footer>
    </blockquote>
  </div>
</div>

{% endblock %}













