{% extends 'base.html' %}

{% block title %} {{ rafting.title }} {% endblock %}

{% block content %}

<h1 class="px-3">Сплав по реке {{ rafting.title }}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ rafting.images.url }}" class="d-block w-100" alt="..." width="40%" height="40%">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Вид на реку 1</h5>
                            <p>131 км реки</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
        <div class="col">
            <h2>Описание</h2>
            <p>{{ rafting.content }}</p>
        </div>
    </div>
</div>




{% endblock %}


